<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="main">
    <div id="desc">
        <h2>
            С днём рождения!
        </h2>
        <p>
            Посмотри на коробку и попробуй её открыть. Не получается? А всё потому что, она, как ты видишь, 
            обмотона стальной цепью с кодовым замком и чтобы её открыть тебе потребуется отгадать пароль к замку. 
            Будет не просто, но я знаю, что ты умеешь работать и страдать, поэтому просто выполняй задания и найди ответ.
        </p>
        <p>
            В заданиях есть скрытые подскаки!
        </p>
        <p>
            <strong>Задание 1</strong><br>
            <div class="hint">Найди ссылку на второе задание. Удачи!
                <div class="hinted">Используй консоль разработчика и найди ссылку в этом файле</div>
            </div>
            <div style="display: none;">ССЫЛКА: /task2</div>
        </p>
    </div>
</div>
</body>
</html>
