<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="main">
    <div id="desc">
        <h2>
            Задание 1 выполнено!
        </h2>
        <p>
            Поздравляю, а теперь решай второе!!
        </p>
        <div class="hint">
            Оно простенькое!!!
            <div class="hinted">
                Всего лишь реши вот это:
                <p>
                    `$40 \cdot \int_0^1 \frac{x dx}{(4x-5)^3}$`
                </p>
                Запомни ответ<br>
                И иди дальше по цифоркам
            </div>
        </div>
    </div>
</div>
</body>
</html>