<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="main">
    <div id="desc">
        <h2>
            Последнее задание
        </h2>
        <p>
            На предыдуших степах ты получила 3 ответа: 2 численных и один строковый
            Для того, чтобы получить код от замка, ты дожна отослать get запрос
            на этот сервер, на тот же порт, в эндпоинт /answer с ответами к заданиям в формате:
            <p>
                /answer?ans1=ans1&ans2=ans2 и тд, где ans1, ans2... это ответы
            </p>
        </p>
        <p>
            Если всё будет правильно, тебе вернёться пароль!(Ответы не надо в ковычки класть)
        </p>
        <p>
            П.С. Во втором задание ответ состоит из строки с пробелами, пробелы отсылать в URL нельзя, загугли, как это обходить:)
        </p>
        <p>
            Порядок важен, ans1 - ответ на задание с интегралом, ans2 - c питоном, ans3 - с хаскелем.
        </p>
    </div>
</div>
</body>
</html>