<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
<div id="main">
    <div id="desc">
        <h2>
            Задание 2 выполнено!(надеюсь)
        </h2>
        <p>
            А теперь решай сразу два и иди дальше:
        </p>
        <p>
            Проинтерпретируй в голове и запомни ответ(это питон)
            <pre>
        def wrapper(f):
        def new_func(x, y):
            print("The", end = ' ')
            f(y, x)
            print("lie")
        return new_func

        @wrapper
        def func(x = "haven't", y = "existed is"):
            print(f"cake {x} {y}", end = ' ')
        
        func("a", "is")
            </pre>
        </p>
        <p>
            А теперь сложнее, это хаскель, но очень простое задание, 
            думаю ты справишься, просто узнай, 
            что вернёт функция  <strong>second</strong>
            <pre>
        module Demo where

        first :: (Eq t1, Num t1, Num t2) => t1 -> t2 -> t2
        first n acc | n == 0 = acc
                    | otherwise = first (n-1) (acc + 1)


        second = first 9 34
            </pre>
        </p>
    </div>
</div>
</body>
</html>